.envrc
.direnv/
*__pycache__/
*DS_Store
*.pyc
florist_app/static/node_modules/
florist_app/static/.tmp
florist_app/static/.sass-cache
node_modules/
.tmp/
.sass-cache/
.DS_Store

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
