option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: florist/wsgi.py
container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python app/manage.py migrate --noinput"
    leader_only: true
  02_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python app/manage.py collectstatic -i node_modules --noinput"
