
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}



.carousel-inner  > .item  > img{
    width: 100%;
    height: 350px;
    margin: auto;
}
.carousel-inner > .item > a  > img {
    width: 100%;
    height: 350px;
    margin: auto;
}

.login {
  background-color: transparent;
  border-radius: 5px;
  border: 2px solid gray;
  float: right;
}

.header-content{
  background-image: url("../images/daisy.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 550px;
  .navbuttons{
    list-style: none;
    text-align: center;
    padding: 0;
    margin-top: 20px;
    li{
      display: inline-block;
      border-left: solid #dfac12;
      padding: 3px 40px 3px 40px;
    }
    #login{
      border-right: solid #dfac12;
    }
  }

  .header {
    display: inline-block;
    margin-top: 50px;
    h1{
      font-family: 'Open Sans Condensed', sans-serif;
      font-size: 70px;
      text-align: left;
      margin-left: 75px;
      color: #dfac12;
      letter-spacing: 15px;
    }
  }

  .header h3 {
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: left;
    font-size: 16px;
    margin-bottom: 30px;
    margin-left: 160px;
  }

  .header h3 span {
    padding-left: 10px;
    margin-bottom: 40px;
  }
}

.signup {
  padding-left: 250px;
  padding-top: 70px;
  // padding-right: 300px;

}

.signin {
  padding-right: 250px;
  padding-top: 70px;
}


.submit-button {
  margin-left: 125px;
    margin-top: 25px;
}

.signin-button {
  margin-left: 125px;
    margin-top: 25px;
}


.flowerPic {
  padding-left: 370px;
}

.notes {
  height: 140px;
  font-family: 'Dancing Script', cursive;
}
.social_media_links{

  height: 100px;
  background-color: #fff;

}

.image-1 {
  h1{
    font-size: 25px;
    color: #dfac12;
  }
  border: solid 2px black;
  text-align: center;
}

.image-2 {
  h1{
    font-size: 25px;
    color: #dfac12;
  }
  border: solid 2px black;
  text-align: center;
}

.image-3 {
  h1{
    font-size: 25px;
    color: #dfac12;
  }
  border: solid 2px black;
  text-align: center;
}
