
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.login {
  background-color: transparent;
  border-radius: 5px;
  border: 2px solid gray;
  float: right;
}

.bouquet {
  background-color: transparent;
  border-radius: 5px;
  border: 2px solid gray;
  float: right;
}

.about {
  background-color: transparent;
  border-radius: 5px;
  border: 2px solid #fff;
  float: right;
}

.navigation {
  background-color: grey;
  // border: solid black 2px;
}

.navbuttons{
  list-style: none;
  display: inline-block;
}


.header h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 90px;
  text-align: center;
  color: pink;
  letter-spacing: 15px;
}

.header h3 {
  // display: inline-block;
  font-family:  'Dancing Script', cursive;
  font-family: 'Abel', sans-serif;
  text-align: center;
  font-size: 18px;
  color: gray;

}
.header h3 span {
  padding-left: 10px;
}
